%h1= @title = t('.title', page_title: @page.title)
= form_for @page, url: show_path(@page.path), method: :put do |f|
  = render 'fields', :f => f
  .actions
    = f.submit
    = link_to t('.cancel'), show_path(@page.path)
